<style>
    body{padding-top:45px;}
</style>
<header class="ui-header ui-header-positive ui-border-b">
    <i class="ui-icon-return" onclick="history.back()"></i><h1>sonic demo</h1><button class="ui-btn" onclick="location.reload()">刷新</button>
</header>